img {
	height: 60px;
	width: 60px;
	float: left;
	margin-top: -2;
	margin-left: 1%;



}

.logo {
	background-color: #4A789C;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 3px grey;


}

h1 {
	margin: 10px;
	color: black;
	text-shadow: 1px 1px lightgrey;

}

h4{
	font-style: italic;
	text-align: center;
	color: green;
	margin-top: 20px;
	font-size: 26px;
	text-shadow: 1px 0px black;
}

p {
	margin-top: 30px;
	margin-left: 20px;
	font-size:20px;
}

#thanks{
	margin-top:0;
	margin-bottom: 30px;
}


.contGrid{
	border: 1px solid lightgrey;

}
.contGridText{
	margin-top: 80px;
	font-size: 18px;
}

.supply-status{
border: 1px solid #ccc;
height: 200px;
border-radius: 12px;
box-shadow: 2px 3px grey;
display: none;
margin-top: 20px;
}

#supplies-needed{
	width: 420px;
	padding: 5px;
	border-radius: 10px;
	color: inherit;
	margin-top: 5px;
	margin-left: -10px;
	margin-bottom: 10px;
}

.icons{
	float: left;

}




#water-needed{
	vertical-align: middle;
	text-align: center;


}


.glyphicon{
	padding: 0; 
	font-size: 30px;

}

.icon-text{
	font-size: 18px;
	margin: 0;
	margin-top: 5px;

}

.glyphicon-tint{
	color: skyblue;



}

.liters{
color: black;

}

.glyphicon-cutlery{
color: darkgrey;

}

.glyphicon-plane{
	color: blue;
}


.plane{
	margin-top: 30px;
}

.plane-text{
	margin-top: 20px;
}

.btn-supplies-needed{
	box-shadow: 1px 1px grey;
	position: relative;
	margin-top: 10px;

}

.btn-fuel, .btn-meals, .btn-water{
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.remove{
	position: absolute;
	top:-35px;
	right: 2px;
	font-size: 15px;
	color: black;

}

.contributionsText{
	position: relative;
	top:-10px;
}

.btn-needed-supply, .btn-contributed-supply{
	margin-top: 20px;
	margin-left: 39%;
	font-size: 20px;
	box-shadow: 2px 3px grey;
	color: inherit;
	font-weight: bold;
	display: none;

}


#supply-form, #contribution-form {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 3px grey;
	margin-left:33%; 
	display: none;
	margin-top: 30px;

}

.form-submit, .form-cancel, .form-submit1, .form-cancel1 {
		margin-left: 20px;
		box-shadow: 2px 2px grey;
		margin-bottom: 10px;
}

.form-cancel, .form-cancel1{
	margin-left: 170px;
}

.red{
background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.redYellow{
	background: rgb(204,0,0); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(204,0,0,1) 0%, rgba(252,244,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(252,244,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(252,244,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(252,244,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(252,244,0,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(252,244,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#fcf400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.yellowGreen{
	background: rgb(243,247,2); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(243,247,2,1) 0%, rgba(31,59,8,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(243,247,2,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(243,247,2,1) 0%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(243,247,2,1) 0%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(243,247,2,1) 0%,rgba(31,59,8,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(243,247,2,1) 0%,rgba(31,59,8,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f702', endColorstr='#1f3b08',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.green{
	background: rgb(98,125,77); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.btn-supplyContributors{
display: block;
}


.orgName{
	margin-left: 20px;

}

.qtyWater{
	margin-left: 45px;
}

.qtyFuel{
	margin-left: 10px;
}

.qtyMeals{
	margin-left: -10px;
}