img {
	height: 60px;
	width: 60px;
	float: left;
	margin-top: -2;
	margin-left: 1%;



}

.logo {
	background-color: #4A789C;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	border-radius: 12px;
	box-shadow: 2px 3px grey;


}

h1 {
	margin: 10px;
	color: black;
	text-shadow: 1px 1px lightgrey;

}

h4{
	font-style: italic;
	text-align: center;
	color: green;
	margin-top: 20px;
	font-size: 26px;
	text-shadow: 1px 0px black;
}

p {
	margin-top: 30px;
	margin-left: 20px;
	font-size:20px;
}

#thanks{
	margin-top:0;
	margin-bottom: 30px;
}

.supply-status{
border: 1px solid #ccc;
height: 200px;
border-radius: 12px;
box-shadow: 2px 3px grey;
display: none;
margin-top: 20px;
}

#supplies-needed{
	width: 220px;
	padding: 5px;
	border-radius: 10px;
	color: inherit;
	margin-top: 5px;
	margin-left: -10px;
	margin-bottom: 30px;
}

.icons{
	float: left;

}




#water-needed{
	vertical-align: middle;
	text-align: center;


}


.glyphicon{
	padding: 0; 
	font-size: 30px;

}

.icon-text{
	font-size: 18px;
	margin: 0;
	margin-top: 5px;

}

.glyphicon-tint{
	color: skyblue;



}

.liters{
color: black;

}

.glyphicon-cutlery{
color: darkgrey;

}

.glyphicon-plane{
	color: blue;
}


.btn-supplies-needed{
	box-shadow: 1px 1px grey;
	position: relative;
}

.remove{
	position: absolute;
	top:-35px;
	right: 2px;
	font-size: 15px;
	opacity: .25
}

.btn-needed-supply, .btn-contributed-supply{
	margin-top: 20px;
	margin-left: 39%;
	font-size: 20px;
	box-shadow: 2px 3px grey;
	color: inherit;
	font-weight: bold;
	display: none;

}


#supply-form, #contribution-form {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 3px grey;
	margin-left:33%; 
	display: none;
	margin-top: 30px;

}

.form-submit, .form-cancel, .form-submit1, .form-cancel1 {
		margin-left: 20px;
		box-shadow: 2px 2px grey;
		margin-bottom: 10px;
}

.form-cancel, .form-cancel1{
	margin-left: 170px;
}